/* TABEL */
/* tabel container */
.table-container {
    background: white;
    border-radius: 16px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.05);
    overflow: hidden;
}
/* class table header ini hanya di gunakan di admin */
.table-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 24px;
    border-bottom: 2px solid #f3f4f6;
}

.table-title {
    font-size: 18px;
    font-weight: 700;
    color: #111827;
}

/* global */
table {
    width: 100%;
    border-collapse: collapse;
}
/* tabel head */
thead {
    background: #f9fafb;
}
/* tabel heading */
th {
    padding: 16px 24px;
    text-align: left;
    font-size: 13px;
    font-weight: 600;
    color: #6b7280;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}
/* tabel data */
td {
    padding: 16px 24px;
    border-top: 1px solid #f3f4f6;
}

tbody tr {
    transition: all 0.2s;
}

tbody tr:hover {
    background: #f9fafb;
}
